.heart-button {
  margin: auto 20px 30px 0;
  padding: 0;
  background-color: #fff;
  border: none;
  width: 21px;
  height: 18px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.heart-button__image {
  width: 21px;
  height: 18px;
}

.heart-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 770px) {
  .heart-button {
    transition: opacity 2s ease-in-out;
  }

  .heart-button:hover,
  .heart-button:active {
    opacity: 0.7;
  }
}
