.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px #000;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
}

.modal__content {
  padding: 36px;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close-button.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.5s ease-in-out;
  padding: 0;
}

.modal__close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 330px;
  min-height: 23px;
  margin: 34px auto 54px 0;
}

.modal__form {
  width: 100%;
}

.modal__input {
  width: calc(100% - 4px);
  margin: 0 0 30px;
  border: none;
  border-bottom: solid 1px #000;
  padding: 0 0 13px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.modal__input::placeholder {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.modal__form:nth-child(2) {
  margin: 0 48px 0;
}

.modal__button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  min-height: 50px;
  margin: 0 0 36px;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 637px) {
  .modal__content {
    padding: 22px;
  }

  .modal__close {
    bottom: calc(100% + 13px);
    left: calc(100% - 26px);
    width: 26px;
    height: 26px;
  }
}
